* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background-color: #d4d9df;
}

/* INIZIO HEADER  */
.header {
  width: 95vw;
  height: 350px;
  background-image: url('img/header.jpg');
  background-size: cover;
  position: relative;
  border: 10px solid white;
  margin: auto;
  margin-top: 3vh;
}

.symb_circle {
  transform: rotate(10deg);
  position: absolute;
  top: 20%;
  left: 68%;
  transform: translate(-5%, -50%);
  color: white;
}

.symb_utens {
  transform: rotate(30deg);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.header_opacity {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.1;
  margin-top: -10px;
}

.header_opacity:hover {
  opacity: 0.0;
}

.header_title,
.header_subtitle {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_title {
  font-size: 60px;
  border: 6px solid white;
  text-align: center;
  transform: translate(-50%, -100%);
  font-weight: bolder;
}

.header_subtitle {
  font-size: 40px;
  padding: 20px;
  transform: translate(-50%, -10%);
  width: 100vw;
}

.nav_bar {
  width: 95vw;
  height: auto;
  background-color: #a9180d;
  margin: auto;
}

.nav_menu li {
  display: inline-block;
  color: white;
  font-family: 'Raleway', sans-serif;
  border-right: 2px solid white;
  padding: 20px;
  text-align: center;
}

.nav_menu  a {
  color: white;
  text-decoration: none;
}

.nav_menu a:hover {
  font-weight: bold;
}

.nav_bar span {
  float: right;
  color: white;
  margin-right: 20px;
  margin-top: 10px;
}

.nav_bar span:hover {
  font-size: 18px;
}

.nav_bar:after {
  content: "";
  display: table;
  clear: both;
}
 /* FINE HEADER */

/* INIZIO MAIN */
main {
  width: 95vw;
  margin: auto;
}
.column {
  width: 32%;
  height: auto;
  float:left;
  background-color: white;
  border: 3px solid #a9180d;
  align-self: center;
  margin-top: 3vh;
}

.sx,
.cn {
  margin-right: 2%;
}

.dx {
  height: auto;
}

.sx i {
  margin: 10px 20px;
}



.rss {
  font-size: 22px;
}

.rss_links a{
  color: #ddaa00;
  text-decoration: none;
}

.rss_links a:hover {
  font-weight: bolder;
}

.rss_links li {
  list-style-type: none;
  margin: 10px 20px;
}

.dx > h2, p {
  margin: 10px 20px;
}

.cn h1, p {
  margin: 10px 20px;
}
/* FINE MAIN  */


.footer_div {
  float: left;
  background-color: #a9180d;
  width: 100vw;
  margin-top: 20px;
}

.footer_sx {
  color: white;
  padding: 20px;
}
