* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #d4d9df;
}

/* INIZIO HEADER  */
.header {
  width: 95vw;
  height: 350px;
  background-image: url('img/header.jpg');
  background-size: cover;
  position: relative;
  border: 10px solid white;
  margin: auto;
  margin-top: 3vh;
}

.header_opacity {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.1;
  position: absolute;
  margin: auto;
}

.header_opacity:hover {
  opacity: 0.0;
}

.header_title,
.header_subtitle {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_title {
  font-size: 60px;
  border: 5px solid white;
  text-align: center;
  transform: translate(-50%, -100%);
  font-weight: bolder;
}

.header_subtitle {
  font-size: 40px;
  padding: 10px;
  transform: translate(-50%, -10%);
  width: 100vw;
}

.nav_bar {
  width: 95vw;
  height: auto;
  background-color: #a9180d;
  margin: auto;
}

.nav_menu li {
  display: inline-block;
  color: white;
  font-family: 'Raleway', sans-serif;
  border-right: 2px solid white;
  padding: 20px;
  text-align: center;
}

.nav_menu  a {
  color: white;
  text-decoration: none;
}

.nav_menu a:hover {
  font-weight: bold;
}

.nav_bar span {
  float: right;
  color: white;
  margin-right: 20px;
  margin-top: 10px;
}

.nav_bar span:hover {
  font-size: 18px;
}

.nav_bar:after {
  content: "";
  display: table;
  clear: both;
}
 /* FINE HEADER */

/* INIZIO MAIN */
main {
  width: 95vw;
  margin: auto;
}
.column {
  width: 32%;
  height: 400px;
  float:left;
  background-color: white;
  border: 5px solid #a9180d;
  align-self: center;
  margin-top: 3vh;
}

.sx,
.cn {
  margin-right: 2%;
}

.dx {
  height: 250px;

}

.subcol_dx {
  box-sizing: content-box;
  transform: translate(-5px, 240px);
  border: 5px solid #a9180d;
  width: 100%;
  height: 200px;
  background-color: white;
}

}
/* FINE MAIN  */
